{% extends "epic_chat_room/base.html" %}

{% block page_header %}
    <div class="jumbotron" style="background-color:#FED8B4">
        <h1 class="display-3">Epic Chat Room is a place to chat with other epic people!</h1>

        <p class="lead">Start new topic or reply to existing topics</p>
        <img src="https://image.emojipng.com/892/2715892.jpg" width="128" height="128"/>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
            style="background-color: #880202"
            role="button">Register &raquo;</a>
    </div>
    
{% endblock page_header %}