{% extends 'epic_chat_room/base.html' %}
{% block content %}

    <p>Topic: {{ topic }}</p>

    <p>Entries:</p>
    <p>
        <a href="{% url 'epic_chat_room:new_reply' topic.id %}">Add new reply</a>
    </p>

    <ul>
    {% for reply in replies %}
        <li>
            <p>{{ reply.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ reply.text|linebreaks }}</p>
            <p>
                <a href="{% url 'epic_chat_room:edit_reply' reply.id %}">Edit reply</a>
            </p>
        </li>
    {% empty %}
        <li>There are no replies for this topic yet.</li>
    {% endfor %}
    </ul>

{% endblock content %}